.bg-light {
    background-color: transparent !important;
}

.site-navbar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background: none;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 200;
    background: #fff; }

.btnSingIn {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-left: 3%;
    margin-top: 2px;
}

.btnRegister {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-top: 2px;
    margin-right: 2%;
}

.btnSingIn:hover, .btnRegister:hover{
    color: black;
    text-decoration: none;
    padding-bottom: 1px;
}


.site-navbar .navbar-brand {
    display: inline-block;
    border: 2px solid #17a2b8;
    padding: 4px 16px;
    color: #17a2b8;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-left: 6%;
}

#navbars {
    padding-left: 2%;
}

.site-navbar .navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.site-navbar .navbar-nav > li > a {
    color: black !important;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.site-navbar .navbar-nav > li > a:hover {
    padding-bottom: 1px; }

footer {
    text-align: center;
    color: #4e555b;
    font-size: 18px;
    margin: 25px 0;
}
