form label {
    font-weight: 700;
}

.section-contact {
    margin-top: 10%;
}

#formCont {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 700px;
}

#formCont > #div1 {
    text-align: left;
    margin-left: 5.5%;
    width: inherit;
}

#formCont > #div1 > label {
    font-weight: 400;
}

#formCont #madame, #formCont #monsieur, #formCont #none {
    width: 0;
}

#formCont input, textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#formCont textarea {
    height: 200px;
}

#formCont button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #17a2b8;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#formCont button:hover,.form button:active,.form button:focus {
    background: #148ea1;
}

.alert-danger, .alert-success {
    position: relative;
    margin: 0 auto 30px;
    width: 700px;
}
