#labo {
    width: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.site-navbar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 0px;
    background: none;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 200;
    background: #fff; }

.btnConnexion {
    margin-right: 8%;
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-left: 10%;
    margin-top: 2px;
}

.btnConnexion:hover{
    color: white;
    background-color: black;
}

.site-navbar .navbar-brand {
    display: inline-block;
    border: 2px solid #17a2b8;
    padding: 4px 16px;
    color: #17a2b8;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-left: 7%;
}

#navbars {
    padding-left: 6%;
}

.site-navbar .navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.site-navbar .navbar-nav > li > a {
    color: black !important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2em; }

.section-heading h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background: #17a2b8;
    z-index: -1;
}

.section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.section-heading h2{
    position: relative;
    font-weight: 200;
    padding-top: 15px;
    font-size: 30px; }

.section-heading strong{
    font-weight: 600;
}

.section {
    padding: 7em 0;
}

#section-home {
    padding-top: 12%;
    padding-bottom: 12%;
    background-image: url(/img/labo.jpg);
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#section-home h1 {
    font-size: 70px;
}

#btnMore {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-color: black;
}

#btnMore:hover {
    color: white;
    background-color: black;
}

#section-about img {
    width: 80%;
}

#section-history {
    background-color: rgba(205, 205, 205, 0.2);
}

#section-history .lead{
    text-transform: uppercase;
}

#btnDon {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-color: #17a2b8;
    color: #17a2b8;
    margin-top: 2%;
}

#btnDon:hover {
    background-color: #17a2b8;
    color : white;
}

form label {
    font-weight: 700;
}

.section-connexion {
    margin-top: 12%;
}

#formCo {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#formCo input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#formCo button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #17a2b8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
#formCo button:hover,.form button:active,.form button:focus {
    background: #148ea1;
}

footer {
    text-align: center;
    color: #4e555b;
    font-size: 18px;
    margin: 25px 0;
}
