#labo {
    width: 100%;
}

.section-heading h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background: #17a2b8;
    z-index: -1;
}

.section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.section-heading h2{
    position: relative;
    font-weight: 200;
    padding-top: 15px;
    font-size: 30px; }

.section-heading strong{
    font-weight: 600;
}

.section {
    padding: 7em 0;
}

#section-home {
    padding-top: 12%;
    padding-bottom: 12%;
    background-image: url(/img/labo.jpg);
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#section-home h1 {
    font-size: 70px;
}

#btnMore {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-color: black;
}

#btnMore:hover {
    color: white;
    background-color: black;
}

#section-about img {
    width: 80%;
}

#section-history {
    background-color: rgba(205, 205, 205, 0.2);
}

#section-history .lead{
    text-transform: uppercase;
}

#btnDon {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-color: #17a2b8;
    color: #17a2b8;
    margin-top: 2%;
}

#btnDon:hover {
    background-color: #17a2b8;
    color : white;
}
